<template>
    <div>
         <h1 class="app-page-title">{{ formtype }}} Product</h1>
            <hr class="mb-4">
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-12">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <form class="settings-form">
                                <div class="mb-3">
                                    <label for="setting-input-1" class="form-label">Title<span class="ms-2" data-container="body" data-bs-toggle="popover" data-trigger="hover" data-placement="top" data-content="This is a Bootstrap popover example. You can use popover to provide extra info."></span></label>
                                    <input type="text" class="form-control" id="setting-input-1" v-model="form.title" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Description</label>
                                    <input type="textarea" class="form-control" id="setting-input-2" v-model="form.description" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-3" class="form-label">Image</label>
                                    <input type="file" class="form-control" id="setting-input-3" @change="handleUpload($event)" accept="image/png, image/gif, image/jpeg">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Image Meta data</label>
                                    <input type="text" class="form-control" id="setting-input-2" v-model="form.image_meta_data" required>
                                </div>

                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Select Category</label>
                                    <select class="form-control" id="category" v-model="form.category_id" @change="updateSubcategory($event)">
                                        <option v-for="(category, cindex) in categories" :key="cindex" :value="category.id">{{ category.title }}</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Select Subcategory</label>
                                    <select class="form-control" id="category" v-model="form.subcategory_id">
                                        <option v-for="(category, cindex) in subCategories" :key="cindex" :value="category.id">{{ category.title }}</option>
                                    </select>
                                </div>

                                 <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Price</label>
                                    <input type="number" class="form-control" id="setting-input-2" v-model="form.price" required>
                                </div>
                                 <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" id="setting-input-2" v-model="form.quantity" required>
                                </div>
                                <button type="button" class="btn app-btn-primary" @click="sendForm()">Save Changes</button>
                            </form>
                        </div><!--//app-card-body-->

                    </div><!--//app-card-->
                </div>
            </div><!--//row-->
    </div>
</template>

<script>
import axios from 'axios';
export default{
    data(){
        return{
            isLoading: true,
            formtype: 'create',
            form: {
                id: '',
                category_id: '',
                subcategory_id: '',
                title: '',
                description: '',
                image: '',
                image_meta_data: '',
                price: '',
                quantity: ''
            },
            categories: [],
            subCategories: []
        }
    },
    methods:{
        async getData(){
            let base = this;
            base.isLoading = true;
            await axios.get('/product.edit/' + this.form.id)
                .then(res => {
                    base.categories = res.data.data.category;
                    if( base.form.id != ''){
                        base.form = res.data.data.product;

                        let result = _.find(base.categories, function (o) {
                                return o.id == base.form.category_id;
                            });

                        base.subCategories = result.sub_categories;
                    }else{
                        base.sub_categories = base.categories[0].sub_categories;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                });
        },
        updateSubcategory(event){
            this.subCategories = this.categories[event.target.selectedIndex].sub_categories;
        },
        handleUpload($e){
            this.form.image = $e.target.files[0];
        },
        async sendForm(){
            let base = this;
            base.isLoading = true;

            let formData = new FormData();
            formData.append('data', JSON.stringify(this.form));
            formData.append('image', this.form.image);
            await axios.post( '/product.store',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
            ).then(res => {
                this.$toast.success(res.data.data);
                this.$router.push('/');
            })
            .catch(function(err){
                console.log(err);
                console.log('FAILURE!!');
            }).finally(res => {
                base.isLoading = false;
            });
      }
    },
    mounted() {
        this.form.id = ( typeof this.$route.params.id != 'undefined') ? this.$route.params.id : '';
        this.formtype = (this.form.id) ? 'Edit' : 'Create';
        this.getData();
    },
}
</script>
