<template>
 <div id="app-sidepanel" class="">
        <!-- <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
            <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
            <div class="app-branding">
                <a class="app-logo" href="index.html"><img class="logo-icon me-2" src="assets/images/app-logo.svg" alt="logo"><span class="logo-text">PORTAL</span></a> -->

            <!-- </div>//app-branding -->
            <div class="app-wrapper">
                <div class="app-content pt-12 p-md-12 p-lg-12">
                    <div class="container-xl">
                    <h1 class="app-page-title">Create Order</h1>
                    <hr class="mb-4">
                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-12">
                            <div class="app-card app-card-settings shadow-sm p-4">
                                <div class="app-card-body">
                                    <form class="settings-form">
                                        <div class="row">
                                            <div class="col-md-4">
                                                 <label for="setting-input-2" class="form-label">Select Category</label>
                                                <select class="form-control" id="category" v-model="form.category_id" @change="updateSubcategory($event)">
                                                    <option v-for="(category, cindex) in categories" :key="cindex" :value="category.id">{{ category.title }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                             <label for="setting-input-2" class="form-label">Select Sub Category</label>
                                                <select class="form-control" id="category" v-model="form.subcategory_id" @change="fetchProduct()">
                                                    <option v-for="(category, cindex) in subCategories" :key="cindex" :value="category.id">{{ category.title }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                             <label for="setting-input-2" class="form-label">Select Product</label>
                                                <select class="form-control" id="category" v-model="form.product_id" @change="selectProduct($event)">
                                                    <option v-for="(product, pindex) in products" :key="pindex" :value="product.id">{{ product.title }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div><!--//app-card-body-->

                            </div><!--//app-card-->
                        </div>
                    </div><!--//row-->
                            </div>
                </div>

                <!-- Selected product -->
                <div v-if="selectedProduct" class="app-content pt-12 p-md-12 p-lg-12" style="margin-top: 20px;">
                    <div class="container-xl">
                        <h1 class="app-page-title" >Product</h1>
                        <div class="row gy-4">
                            <div class="col-12 col-lg-6">
                                <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
                                    <div class="app-card-header p-3 border-bottom-0">
                                        <div class="row align-items-center gx-3">
                                            <div class="col-auto">
                                                <!-- <h4 class="app-card-title">Image</h4> -->
                                            </div><!--//col-->
                                        </div><!--//row-->
                                    </div><!--//app-card-header-->
                                    <div class="app-card-body px-4 w-100">
                                        <div class="item border-bottom py-3">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-auto">
                                                    <div class="item-label mb-2"><strong>Image</strong></div>
                                                    <div class="item-data"><img class="profile-image" :src="`data:image/jpeg;base64, ${selectedProduct.image}`" :alt="selectedProduct.image_meta_data"></div>
                                                </div><!--//col-->
                                            </div><!--//row-->
                                        </div><!--//item-->
                                        <div class="row">
                                            <div class="item border-bottom py-3 col-md-6">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <div class="item-label"><strong>Title</strong></div>
                                                        <div class="item-data">{{ selectedProduct.title }}</div>
                                                    </div><!--//col-->
                                                </div><!--//row-->
                                            </div><!--//item-->
                                            <div class="item border-bottom py-3 col-md-6">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <div class="item-label"><strong>Price</strong></div>
                                                        <div class="item-data">{{ selectedProduct.price }}</div>
                                                    </div><!--//col-->
                                                </div><!--//row-->
                                            </div><!--//item-->
                                        </div>
                                        <div class="row">
                                            <div class="item border-bottom py-3 col-md-6">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <div class="item-label mb-2"><strong>Description</strong></div>
                                                        <div class="col-md-12">{{ selectedProduct.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="item border-bottom py-3 col-md-6">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <div class="item-label"><strong>Quantity</strong></div>
                                                        <div class="item-data">
                                                        {{ selectedProduct.quantity }}
                                                        </div>
                                                    </div><!--//col-->
                                                </div><!--//row-->
                                            </div><!--//item-->
                                        </div>
                                        <div class="row" v-if="selectedProduct.quantity > 0">
                                            <div class="item border-bottom py-3 col-md-6">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <label for="setting-input-2" class="form-label">Quantity to purchase</label>
                                                        <input type="text" class="form-control" id="quantity" v-model="form.quantity" required>
                                                    </div><!--//col-->
                                                </div><!--//row-->
                                            </div><!--//item-->
                                                <div class="item border-bottom py-3 col-md-6">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <label for="setting-input-2" class="form-label">Time of purchase</label>
                                                            <input type="date" class="form-control" id="purchaged-at" v-model="form.purchaged_at" required>
                                                    </div><!--//col-->
                                                </div><!--//row-->
                                            </div><!--//item-->
                                        </div>
                                        <button type="button" class="btn app-btn-primary" @click="sendForm()">Create Order</button>
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </div><!--//col-->
                        </div><!--//row-->
                    </div>
                </div>
            </div>
        <!-- </div> -->
 </div>
</template>

<script>

export default {
    data() {
        return{
            is_loading: true,
            form: {
                category_id: '',
                subcategory_id: '',
                product_id: '',
                quantity: 0,
                purchaged_at: '',
            },
            selectedProduct: '',
            products: [],
            categories: [],
            subCategories: []
        }

    },
     methods: {
        async getInit(){
            let base = this;
            base.is_loading = true;
            await axios.get('order.index')
                .then(res => {
                    base.categories = res.data.data.category;
                    base.subCategories = base.categories[0].sub_categories;

                    // base.form.category_id = base.categories[0].id;
                    // base.form.subcategory_id = base.subCategories[0].id;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.is_loading = false;
                });
        },

        async fetchProduct(){
            let base = this;
            base.is_loading = true;
            await axios.get('order.fetchproduct/' + base.form.category_id + '/' + base.form.subcategory_id)
                .then(res => {
                    base.products = res.data.data.products;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.is_loading = false;
                });
        },
        updateSubcategory(event){
            this.subCategories = this.categories[event.target.selectedIndex].sub_categories;
        },
        selectProduct($e){
            this.selectedProduct = this.products[$e.target.selectedIndex];
        },
        async sendForm(){
            let base = this;
            base.is_loading = true;

            await axios.post('/order.store', {data: base.form})
                .then(res => {
                    this.$toast.success(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                    base.errors = err.response.data;
                })
                .finally(res => {
                    base.is_disable = false;
                });
        }
    },
    mounted(){
        this.getInit();
    }
}
</script>
