<template>
    <div class="">
        <menus></menus>
         <div class="app-wrapper">
            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Menus from './menu';

export default {
    components: {
        Menus
    },
    data() {
        return{

        }
    },
    methods: {
    },
    created(){
    }
};
</script>
